local/*
deps/hecke/Makefile
deps/build.log
deps/hecke/build/*
deps/hecke/libhecke.so
deps/hecke/libhecke.so.0
deps/hecke/libhecke.so.0.0.0
docs/site/*
docs/build/*
docs/node_modules/*
docs/package-lock.json
Manifest.toml
.DS_Store
docs/node_modules/*
docs/package-lock.json
*.swp
