Alex J. Best <alex.j.best@gmail.com>
Carlo Sircana <sircana@mathematik.uni-kl.de>
Claus Fieker <fieker@mathematik.uni-kl.de> <claus.fieker@gmail.com>
Claus Fieker <fieker@mathematik.uni-kl.de> <claus@maths.usyd.edu.au>
Claus Fieker <fieker@mathematik.uni-kl.de> <fieker@murrumesh.mathematik.uni-kl.de>
Erec Thorn <thorn@Erecs-MacBook.local> <thorn@eduroam-ipv4-0527.triple-a.uni-kl.de>
Erec Thorn <thorn@Erecs-MacBook.local> <thorn@eduroam-ipv4-0877.triple-a.uni-kl.de>
Erec Thorn <thorn@Erecs-MacBook.local> <thorn@eduroam-ipv4-1770.triple-a.uni-kl.de>
Erec Thorn <thorn@Erecs-MacBook.local> <thorn@eduroam-ipv4-1999.triple-a.uni-kl.de>
Erec Thorn <thorn@Erecs-MacBook.local> <thorn@eduroam-ipv4-3-0201.triple-a.uni-kl.de>
Erec Thorn <thorn@Erecs-MacBook.local> <thorn@eduroam-ipv4-4-0869.triple-a.uni-kl.de>
Erec Thorn <thorn@Erecs-MacBook.local> <thorn@eduroam-ipv4-4-0997.triple-a.uni-kl.de>
Erec Thorn <thorn@Erecs-MacBook.local> <thorn@eduroam-ipv4-5-0915.triple-a.uni-kl.de>
Erec Thorn <thorn@Erecs-MacBook.local> <thorn@eduroam-ipv4-5-0996.triple-a.uni-kl.de>
Erec Thorn <thorn@Erecs-MacBook.local> <thorn@Erecs-MacBook.local>
Erec Thorn <thorn@Erecs-MacBook.local> <thorn@erecs-macbook.speedport_w_724v_typ_a_05011603_06_001>
Simon Brandhorst <sbrandhorst@web.de> <51749255+simonbrandhorst@users.noreply.github.com>
Tommy Hofmann <thofma@gmail.com>
William Hart <goodwillhart@googlemail.com>
