language: julia
sudo: false
os:
  - linux
  - osx
julia:
  - 1.0
    #  - 1.1
    #  - nightly
matrix:
  allow_failures:
    - julia: nightly

notifications:
  - email: false
script:
  - while sleep 30; do echo "still alive"; done &
    #- julia -e 'using Pkg;Pkg.add("Nemo"); Pkg.clone(pwd());'
    #- julia -e 'using Pkg; Pkg.build("Hecke");'
  - julia -e 'using Pkg; Pkg.test("Hecke");'

env:
   global:
      - DOCUMENTER_DEBUG=true
jobs:
   include:
     - stage: "Documentation"
       julia: 1.0
       os: linux
       install:
        # mkdocs-material isn't available at the default py2 on travis-ci for now
        - sudo apt-get update
        - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
        - bash miniconda.sh -b -p $HOME/miniconda
        - export PATH="$HOME/miniconda/bin:$PATH"
        - conda config --set always_yes yes --set changeps1 no
        - conda update -q conda
        - conda info -a
       script:
         - while sleep 30; do echo "still alive"; done &
         - julia --project=docs/ -e 'using Pkg; Pkg.add(PackageSpec(path=pwd())); Pkg.instantiate();'
         - julia --project=docs/ docs/make.jl
       after_success: skip
