name = "Hecke"
uuid = "3e1990a7-5d81-5526-99ce-9ba3ff248f21"
version = "0.34.4"

[deps]
AbstractAlgebra = "c3fe647b-3220-5bb0-a1ea-a7954cac585d"
Dates = "ade2ca70-3891-5945-98fb-dc099432e06a"
Distributed = "8ba89e20-285c-5b6f-9357-94700520ee1b"
InteractiveUtils = "b77e0a4c-d291-57a0-90e8-8db25a27a240"
LazyArtifacts = "4af54fe1-eca0-43a8-85a7-787d91b784e3"
Libdl = "8f399da3-3557-5675-b5ff-fb832c97cbdb"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
Markdown = "d6f4376e-aef5-505a-96c1-9c027394607a"
Nemo = "2edaba10-b0f1-5616-af89-8c11ac63239a"
Pkg = "44cfe95a-1eb2-52ea-b672-e2afdf69b78f"
Printf = "de0858da-6303-5e67-8744-51eddeeeb8d7"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
RandomExtensions = "fb686558-2515-59ef-acaa-46db3789a887"
Serialization = "9e88b42a-f829-5b0c-bbe9-9e923198166b"
SparseArrays = "2f01184e-e22b-5df5-ae63-d93ebab69eaf"

[weakdeps]
GAP = "c863536a-3901-11e9-33e7-d5cd0df7b904"
Polymake = "d720cf60-89b5-51f5-aff5-213f193123e7"

[extensions]
GAPExt = "GAP"
PolymakeExt = "Polymake"

[compat]
AbstractAlgebra = "^0.43.1"
Dates = "1.6"
Distributed = "1.6"
GAP = "0.9.6, 0.10, 0.11, 0.12"
InteractiveUtils = "1.6"
LazyArtifacts = "1.6"
Libdl = "1.6"
LinearAlgebra = "1.6"
Markdown = "1.6"
Nemo = "^0.47.1"
Pkg = "1.6"
Polymake = "0.10, 0.11"
Printf = "1.6"
Random = "1.6"
RandomExtensions = "0.4.3"
Serialization = "1.6"
SparseArrays = "1.6"
julia = "1.6"

[extras]
GAP = "c863536a-3901-11e9-33e7-d5cd0df7b904"
Polymake = "d720cf60-89b5-51f5-aff5-213f193123e7"
