site_name:           'Hecke'
repo_name:           'Hecke.jl'
#repo_url:            'https://github.com/thofma/Hecke.jl'
site_description:    'Hecke'
site_author:         'Tommy Hofmann'

theme:
  name: 'material'
  palette:
    primary: 'blue grey'
    accent: 'bluey grey'
  feature:
    tabs: true

extra:
  search:
    tokenizer: '[\s\-\.]+'
  social:
    - type: 'github'
      link: 'https://github.com/thofma'

extra_css:
  - 'assets/Documenter.css'
  - 'css/extra.css'

extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML
  - assets/mathjaxhelper.js

markdown_extensions:
  - toc:
      permalink: false
  - extra
  - tables
  - fenced_code
  - mdx_math:
      enable_dollar_delimiter: true
  - admonition
  - pymdownx.highlight:
      css_class: codehilite
      #linenums: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.superfences:
      preserve_tabs: true
      custom_fences:
        - name: flow
          class: uml-flowchart
          format: !!python/name:pymdownx.superfences.fence_code_format
        - name: sequence
          class: uml-sequence-diagram
          format: !!python/name:pymdownx.superfences.fence_code_format
        - name: math
          class: arithmatex
          format: !!python/name:pymdownx.arithmatex.fence_mathjax_format
  - pymdownx.details:

docs_dir: 'build'

nav:
  - About: 'index.md'
  - Documentation:
    - Number fields:
      - Introduction: 'number_fields/intro.md'
      - Creation and basics: 'number_fields/basics.md'
      - Elements: 'number_fields/elements.md'
      - Internals:    'number_fields/internal.md'
    - Orders:
      - Introduction: 'orders/introduction.md'
      - Basics:           orders/orders.md
      - Elements:         orders/elements.md
      - Ideals:           orders/ideals.md
      - Fractional Ideals: orders/frac_ideals.md
    - Quadratic and Hermitian forms:
      - Introduction: 'quad_forms/introduction.md'
      - Basics: 'quad_forms/basics.md'
      - Lattices: 'quad_forms/lattices.md'
    - Abelian groups:
      - Introduction:     abelian/introduction.md
    - Class fields:
      - Introduction:     class_fields/intro.md
    - Misc:
      - Factored Elements: FacElem.md
      - Sparse Linear Algebra: sparse/intro.md
  - Source:
      - 'https://www.github.com/thofma/Hecke.jl'
