site_name:           'Hecke'
repo_name:           'Hecke.jl'
repo_url:            'https://github.com/thofma/Hecke.jl'
site_description:    'Hecke'
site_author:         'Tommy Hofmann'
theme:               'cinder'

theme:
  name: 'cinder'

extra:
  search:
    tokenizer: '[\s\-\.]+'
  social:
    - type: 'github'
      link: 'https://github.com/thofma'

extra_css:
  - assets/Documenter.css

extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML
  - assets/mathjaxhelper.js

markdown_extensions:
  - toc:
      permalink: true
  - extra
  - tables
  - fenced_code
  - mdx_math
      enable_dollar_delimiter: true
  - admonition
  - pymdownx.highlight:
      css_class: codehilite
      linenums: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.superfences:
      preserve_tabs: true
      custom_fences:
        - name: flow
          class: uml-flowchart
          format: !!python/name:pymdownx.superfences.fence_code_format
        - name: sequence
          class: uml-sequence-diagram
          format: !!python/name:pymdownx.superfences.fence_code_format
        - name: math
          class: arithmatex
          format: !!python/name:pymdownx.arithmatex.fence_mathjax_format

docs_dir: 'build'

#nav:
#  - Home: 'index.md'
#  - Element Types: 'element_types.md'
