name: Run long tests

on:
  push:
    branches:
      - 'master'
      - 'release-'
    tags: '*'
  pull_request:

concurrency:
  # group by workflow and ref; the last slightly strange component ensures that for pull
  # requests, we limit to 1 concurrent job, but for the master branch we don't
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.ref != 'refs/heads/master' || github.run_number }}
  # Cancel intermediate builds, but only if it is a pull request build.
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        julia-version:
          - 1.6
        julia-arch:
          - x64
        os:
          - macOS-latest

    steps:
      - uses: actions/checkout@v2
        with:
          # For Codecov, we must also fetch the parent of the HEAD commit to
          # be able to properly deal with PRs / merges
          fetch-depth: 2
      - name: "Set up Julia"
        uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.julia-version }}
          arch: ${{ matrix.julia-arch }}
      - name: Cache artifacts
        uses: actions/cache@v1
        env:
          cache-name: cache-artifacts
        with:
          path: ~/.julia/artifacts
          key: ${{ runner.os }}-test-${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}
          restore-keys: |
            ${{ runner.os }}-test-${{ env.cache-name }}-
            ${{ runner.os }}-test-
            ${{ runner.os }}-
      - name: "Build package"
        uses: julia-actions/julia-buildpkg@latest
      - run: julia --color=yes --project -e 'using Pkg; Pkg.add(PackageSpec(name="GAP"));'
        #- run: julia --color=yes --project -e 'using Pkg; Pkg.add(PackageSpec(name="Polymake"));'
      - name: "Run long tests"
        uses: julia-actions/julia-runtest@latest
        env:
          HECKE_TESTLONG: "1"
          HECKE_TEST_PARALLEL: "2"
      - name: "Process code coverage"
        uses: julia-actions/julia-processcoverage@v1
      - name: "Upload coverage data to Codecov"
        continue-on-error: true
        uses: codecov/codecov-action@v2
